@page
@model PROG6212FINALPOE.Pages.Login.IndexModel
@{
    ViewData["Title"] = "Login Page";
}
<div class="login-container">
    <h4 class="center-align">Login</h4>
    <form method="post">
        <div class="input-field">
            <input asp-for="Username" id="username" type="text" class="validate" required>
            <label for="username">Username</label>
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="input-field">
            <input asp-for="Password" id="password" type="password" class="validate" required>
            <label for="password">Password</label>
            <span asp-validation-for="Password" class="text-danger">@Model.LoginError</span>
        </div>
        <button class="btn waves-effect waves-light blue" type="submit">
            Login
            <i class="material-icons right">send</i>
        </button>
        <div class="section center-align">
            <p>Don't have an account? <a asp-page="/Register/Index">Register here</a></p>
        </div>
    </form>
</div>
